﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap.css" />

</head>
    <body>
        
        <div class="table-responsive container-fluid top-buffer">
            <p class="lead">Data from CSV file</p>

            <table id="dataTable" class="table table-striped table-hover">
            </table>

        </div>

        <div id="errorMessage" class="container-fluid bg-danger">
        </div>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script src="~/Content/JS/bootstrap.js"></script>

        <script>

            var uri = 'api/CSV';

            $(document).ready(function () {
                $.getJSON(uri).done(function (anythingDataModel) {

                    //if there is any error from service, show the error message
                    if (anythingDataModel.Error) {
                        var error = anythingDataModel.Error;
                        $('#errorMessage').append(error);
                    }

                    //create the table structure to display
                    if (anythingDataModel.TableStructure != null) {

                        var table = anythingDataModel.TableStructure;
                    
                        //create the table header to display
                        var header = table.TableHeader;
                   
                        if (header != null) {

                            var theader = '<thead><tr>';

                            $.each(header, function (key, tcell) {
                                theader += '<th>' + tcell + '</th>';
                            });

                            theader += '</tr></thead>';

                            $('#dataTable').append(theader);
                        }

                        //create the table body to display
                        var tableBody = table.TableBody;

                        if (tableBody != null) {

                            $('#dataTable').append("<tbody>");

                            $.each(tableBody, function (key1, trow) {

                                var row = '<tr>';

                                $.each(trow, function (key2, cell) {
                                    row += '<td>' + cell + '</td>';
                                });

                                row += '</tr>';

                                $('#dataTable').append(row);

                            });

                            $('#dataTable').append("</tbody>");
                        }
                    }
                }).fail(function () {
                    var error = "Sorry, Unexpected Error Occurred";
                    $('#errorMessage').append(error);
                });

            });
        </script>
    </body>
</html>
