﻿
p {
    margin: 20px 0;
}

.top-buffer {
    margin-top: 40px;
}

/*Generic Styling, for Desktops/Laptops*/

table {
    width: 100%;
    border-collapse: collapse;
}

/*Zebra striping*/
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

tr:hover {
    border: 2px solid black;
}
